/* Custom theme styles */
.breadcrumb {

    padding: 0 10px;
    font-size: 11px;
    border-radius: 0;
    background: #ebedf0;
}
.gray_bg {
    background: #ebedf0;
}
.content {
    background-color: #ebedf0 !important;
    /*padding:30px;
    font-weight:600;
    border: 1px solid #aeaeae;
    border-top:none;*/
}

.profile {
    padding: 10px 0px 10px 7px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.profile img {
    border-radius: 100%;
    border: 2px solid #eeeeee;
    width: 50px;
    height: 50px;
    float: left;
}
.profile .group {
    margin-left: 65px;
    color: #464646;
}


#mainNav {
    /*display:block;*/
    background: #4285F4;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
    /*height: 65px;*/
    /*position: fixed;*/
    /*z-index: 10;*/
    /*width: 100%;*/
    /*left: 0;*/
    /*padding-right: 10px;*/
    /*top: 0;*/
}

.splash img {
    width:100%;
    height: 200px;
}

.stream-header {
    background: #fefefe;
    border-bottom: 1px solid #dee5e7;
}