<div layout="column" layout-padding>
<!-- @todo: submenu goes here -->
</div>
<div layout="column" layout-padding>
    <ol class="breadcrumb">
        <li><a ui-sref="index" href="#">Design team</a></li>
        <li class="active">Dashboard</li>
    </ol>
</div>

<div layout="row">
    <md-content flex="50" layout="column" class="content">
        <md-card>
            <md-toolbar>
                <!--
                    layout="<align>" is good thing !
                    @todo: Use it in navigation too
                    @todo: This need redesign and image fixes
                -->
                <div class="md-toolbar-tools" layout-align="center center">
                    <img src="img/fedora_infinity_48x48.png" style="height: 48px; width:48px; margin-right: 10px;" />
                    <h1>hubs</h1>
                </div>
            </md-toolbar>

            <md-card-content layout="column" layout-align="center center" class="md-padding">
                <h2>Login</h2>
                <div class="row">
                    <md-input-container>
                        <label>Fedora Accounts System username</label>
                        <input type="text" ng-model="user.state"/>
                    </md-input-container>

                    <md-input-container>
                        <label>Password</label>
                        <input type="password" ng-model="user.password"/>
                    </md-input-container>

                    <button type="submit" class="btn btn-primary btn-sm" style="float:right;">Log me in</button>
                </div><br />



            </md-card-content>

            <md-card-footer>
                <!--<div class="row">-->
                    <a href="#" style="float:left;">Forgot password?</a>
                    <a href="#" style="float:right;">Need account?</a>
                <!--</div>-->
            </md-card-footer>
        </md-card>
    </md-content>

    <md-content flex="50" layout="column" class="content">
        <md-card>
            <md-toolbar>
                <!--
                    layout="<align>" is good thing !
                    @todo: Use it in navigation too
                    @todo: This need redesign and image fixes
                -->
                <div class="md-toolbar-tools" layout-align="center center">
                    <img src="img/fedora_infinity_48x48.png" style="height: 48px; width:48px; margin-right: 10px;" />
                    <h1>hubs</h1>
                </div>
            </md-toolbar>

            <md-card-content>
                <md-tabs md-index="1">
                    <md-tab label="Subscribers" md-on-select="loadWidgetData(1);">
                        <md-tab-body md-center-tabs>
                            <md-content layout-padding>
                                <div ng-show="tabLoading">
                                    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                                </div>
                                <div ng-show="!tabLoading">
                                    <h3>Members: {{ tabContent.members }}</h3>
                                    <h3>Subscribers: {{ tabContent.subscribers }}</h3>
                                </div>
                            </md-content>
                        </md-tab-body>
                    </md-tab>

                    <md-tab label="Info" md-on-select="loadWidgetData(2);">
                        <md-tab-body>
                            <md-content layout-padding>
                                <div ng-show="tabLoading">
                                    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                                </div>
                                <div ng-show="!tabLoading">
                                    <h4>Community rules:</h4>
                                    <p>
                                        <a href="{{ tabContent.link }}">Community Rules and Guidelines</a>
                                    </p>

                                    <h4>Group owners:</h4>
                                    <p>
                                        <div layout="row">
                                            <div flex layout="column" ng-repeat="(name, img) in tabContent.owners">
                                                <h5>{{ name }}</h5>
                                                <a ng-show="img && name" href="{{ img }}" title="{{ name }}" >
                                                    <img src="{{ img }}" width="64"  height="64"/>
                                                </a>
                                            </div>
                                        </div>
                                    </p>
                                </div>
                            </md-content>
                        </md-tab-body>
                    </md-tab>

                    <md-tab label="Notes" md-on-select="loadWidgetData(4);">
                        <md-tab-body>
                            <md-content layout-padding>
                                <div ng-show="tabLoading">
                                    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                                </div>
                                <div ng-show="!tabLoading">
                                    {{ tabContent }}
                                </div>
                            </md-content>
                        </md-tab-body>
                    </md-tab>
                </md-tabs>

            </md-card-content>

            <md-card-footer>

            </md-card-footer>
        </md-card>


    </md-content>
</div>