AddDefaultCharset UTF-8

<IfModule mod_rewrite.c>
    RewriteEngine on

    RewriteBase /

    # todo
    RewriteCond "%{REQUEST_FILENAME}" "!-f"
    RewriteCond "%{REQUEST_FILENAME}" "!-d"
    RewriteRule "^(.*)" "/index.php/#/$1" [NC,QSA,L,R=404]

</IfModule>

<IfModule mod_php5.c>
    php_value magic_quotes_gpc 0
    php_value register_globals 0
    php_value short_open_tag 0
#    php_value post_max_size 120M
#    php_value upload_max_filesize 110M
</IfModule>

