<aside id="chat" class="toggled"> <!--class="toggled"-->

    <md-tabs >
        <md-tab label="#fedora-hubs"></md-tab>
        <md-tab label="#fedora-apps"></md-tab>
    </md-tabs>

    <div class="chat-search">
        <div class="fg-line">
            <md-input-container>
                <label>Quick msg</label>
                <input type="text" /> <!-- ng-model="user.state" -->
            </md-input-container>
        </div>
    </div>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade active in" id="friends">
            <div class="listview">
                <a class="lv-item" href="">
                    <div class="media">
                        <div class="pull-left p-relative">
                            <img class="lv-img-sm" src="img/profile-test.jpg" alt="">
                            <i class="chat-status-busy"></i>
                        </div>
                        <div class="media-body">
                            <div class="lv-title">nask0</div>
                            <small class="lv-small">Available</small>
                        </div>
                    </div>
                </a>
                <a class="lv-item" href="">
                    <div class="media">
                        <div class="pull-left p-relative">
                            <img class="lv-img-sm" src="img/profile-test.jpg" alt="">
                            <i class="chat-status-busy"></i>
                        </div>
                        <div class="media-body">
                            <div class="lv-title">threebeen</div>
                            <small class="lv-small">Available</small>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</aside>