<md-toolbar layout="row">
    <div class="md-toolbar-tools">

        <!-- I'am pretty sure that can be done better, but i am not CSS master -->

        <div flex="5" id="logo" >
            <img src="img/fedora_infinity_48x48.png" style="height: 48px; width:48px;" />
        </div>

        <div flex="10">
            <md-button ui-sref="index">
                <h1>Hubs</h1>
            </md-button>
        </div>

        <!-- fill up the space between left and right area -->
        <div flex></div>

        <div>
            <md-button ui-sref="index.design">
                design
            </md-button>
        </div>

    </div>
</md-toolbar>