<nav class="sidenav">
    <div class="profile">
        <img src="img/fedora_infinity_32x32.png" alt="Profile img">
        <div class="group">
            <h5 class="name">nask0</h5>
            <small class="desig text-uppercase">Web Developer</small>
        </div>
    </div>

    <div ng-if="true" class="main_menu">
        <md-list>
          <md-list-item class="md-2-line">
              <div class="md-list-item-text">
                  <h3>
                      <a href="/" ui-sref="index">
                          My Dashboard (Home)
                      </a>
                  </h3>
              </div>
          </md-list-item>

          <md-list-item class="md-2-line" ng-repeat="hub in currentUser.hubs">
            <div class="md-list-item-text">
                <h3>
                    <a href="{{ hub.key }}" ui-sref="hub({ hubKey: '{{ hub.key }}' })">
                        {{ hub.key .charAt(0).toUpperCase() + hub.key.slice(1) }}
                    </a>
                </h3>
            </div>
          </md-list-item>
        </md-list>
    </div>
</nav>