<nav class="sidenav">
    <div class="profile">
        <img src="img/fedora_infinity_32x32.png" alt="Profile img">
        <div class="group">
            <h5 class="name">nask0</h5>
            <small class="desig text-uppercase">Web Developer</small>
        </div>
    </div>

    <div ng-if="debug" id='cssmenu'>
        <ul>
            <li><a href='#'><span>Home</span></a></li>
            <li class='active '><a href='#'><span>Products</span></a>

            </li>
            <li><a href='#'><span>About</span></a></li>
            <li class='last'><a href='#'><span>Contact</span></a></li>
        </ul>
    </div>
</nav>