<div layout="column" layout-padding>
    <!-- @todo: submenu goes here -->
</div>

<!-- @breadcrumbs -->
<div layout="column" layout-padding>
    <ol class="breadcrumb">
        <li><a ui-sref="index" href="#">Design team</a></li>
        <li class="active">Dashboard</li>
    </ol>
</div>

<div layout="row">
    <md-content flex="50" layout="column" class="content">
        <md-card>
            <div layout="column" layout-align="center center" class="md-padding">

                <md-card-content>

                    <h2>Tests</h2>
                    <div class="row">

                    </div>

                </md-card-content>

            </div>

            <md-card-footer>
                CARD FOOTER
            </md-card-footer>

        </md-card>
    </md-content>

    <!--<md-content flex="50" layout="column" class="content">
    </md-content>-->
</div>